html, body{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#map {
  width: auto;
  height: 100%;
  z-index: 1;
}

button:hover{
  opacity: 0.9;
  margin-top: 1px;
  margin-bottom: -1px;
}

.top-menu, .popup-menu{
  position: absolute;
  z-index: 10;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 1em;
}
.top-menu{
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}
.popup-menu{
  right: 1.5em;
  bottom: 2em;
  padding: 0.6em;
  display: none;
}
